pushi 0
pushi 0
pushi 0
pushi 0
pushn 10
start
pushi 10 
storeg 0 
pushi 4
storeg 1 
pushg 0
pushg 1
add
storeg 2
pushi 12345
storeg 3
pushi 412
storeg 9
pushg 2
pushi 0
equal
jz ELSE0
    pushi 1
    storeg 3
    jump FIM0
ELSE0:
    pushi 0 
    storeg 3
FIM0:
    pushg 3
    storeg 4
stop